/.metadata/
WinPointManagementSystem/src/com/winpoint/common/testClient/Client.java
WinPointManagementSystem/src/com/winpoint/common/testClient/Client.java
WinPointManagementSystem/src/com/winpoint/common/testClient/Client.java
/.recommenders/
